﻿@model IEnumerable<BE.Web.Models.CategoryModel>
@using BE.Web.Helpers;

@if (@Model.Count() > 0)
{
    var defaultCurrentPage = 1;
    @foreach (var item in @Model)
    {
        <div class="item d-flex justify-content-between"><a asp-controller="Category" asp-route-id="@item.Id" asp-route-slug="@SlugGenerator.ToSlug(item.Content)" asp-route-page="@defaultCurrentPage">@item.Content</a><span>@item.BlogsCount</span></div>
    }
}