<template>
  <v-app id="inspire">
       
    <v-app-bar
      app
      clipped-left
      v-if="this.isAuthenticated"
    >
      <v-toolbar-title>Blog Engine</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn text v-for="(item, k) in menu" :key="k" :to="item.route">
          <v-icon small left>{{ item.icon }}</v-icon>
          {{item.text}}
        </v-btn>

        <v-spacer style="padding-left:8%;"></v-spacer>
        
        <a class="v-btn v-btn--flat v-btn--router v-btn--text theme--light v-size--default" @click="SubmitLogout()">
          <v-icon small left>fas fa-sign-out-alt</v-icon>
          Logout
        </a>
      </v-toolbar-items>
    </v-app-bar>
   
    <v-content>
      <v-container fluid fill-height>
        <v-layout>
          <!-- Content here -->
          <router-view></router-view>
        </v-layout>
      </v-container>
    </v-content>

    <v-footer app>
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>

import { mapGetters, mapActions, mapMutations } from "vuex";


export default {
  name: 'App',

  data: () => ({
   menu: [
      {
        icon: "widgets",
        text: "Blog",
        route: "blog",
        isActivated: false
      },
      {
        icon: "fad fa-th-list",
        text: "Category",
        route: "category",
        isActivated: false
      },
     
   ],
  }),

  created () {
    this.$vuetify.theme.dark = false;  
    let token = localStorage.getItem('token');
    if (token){
      this.SetIsAuthenticated(token);
    }
  },

  mounted: function(){
    let token = localStorage.getItem('token');

    
  },

  computed : {
    ...mapGetters('account',[
      'isAuthenticated'
    ]),
  },

  methods: {
    ...mapActions({
      Logout: 'account/Logout',
     
    }),

    ...mapMutations({
      SetIsAuthenticated: 'account/SetIsAuthenticated'
    }),

    SubmitLogout: function(){
      this.Logout();
      this.$router.push("/login");
    }
  }
  
};
</script>

<style>
  @import url("https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css");
  @import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons");
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css");
</style>