<template>

  <div style="width:100%; margin-top:1%">

<template>
  <div style="margin-left:3.1%;">
    <v-dialog
      v-model="confirmDialog"
      max-width="290"
    >
      <v-card>
        <v-card-title class="headline">Warning !!!</v-card-title>

        <v-card-text>
          Are you sure want to delete this blog?
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
              color="success"
              class="mr-4"
              @click="SubmitDeleteBlog()"
            >
              YES
          </v-btn>

          <v-btn v-if="this.isCreate"
              color="error"
              class="mr-4"
              @click="confirmDialog = false"
            >
              NO
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialog"
      width="50%"
    >
      <template v-slot:activator="{ on }">
        <v-btn  v-on="on" @click="OpenCreateBlogDialog()" large color="primary">Create blog</v-btn>
      </template>

      <v-card>
        <v-card-title
          class="headline lighten-2"
          primary-title
        >
         <span v-if="this.isCreate">CREATE BLOG</span>
         <span v-else >EDIT BLOG</span>
        </v-card-title>

        <v-card-text>
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
          >
          <v-text-field
              v-model="blogModel.id"
              label="id"
              required
              v-show="false"
            ></v-text-field>

            <v-text-field
              v-model="blogModel.title"
              label="Title"
              :rules="rules.titleRules"
              required
            ></v-text-field>

            <v-select
              v-model="blogModel.categoryId"
              label="Category"
              required
              :items="this.categoryItems"
              :rules="rules.category"
              name="categoryId"
              item-text="content"
              item-value="id"
            ></v-select>

              <v-file-input
                v-model="thumnailFile"
                :rules="rules.thumnailRules"
                accept="image/png, image/jpeg, image/bmp"
                placeholder="Upload thumnail for blog"
                label="Thumnail Image"
                prepend-icon="fas fa-image"
              >
                
              </v-file-input>
              <div>
                <vue-editor :rules="rules.content" v-model="blogModel.content"></vue-editor>
              </div>
            
          </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          
          <v-btn v-if="this.isCreate"
              color="success"
              @click="Submit()"
            >
              Create
          </v-btn>

          <v-btn v-else
              color="success"
              @click="SubmitEditBlog()"
            >
              EDIT
          </v-btn>
          
          <v-btn
              color="error"
              class="mr-4"
              @click="dialog = false"
            >
              Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

   
    
  <v-layout row wrap="">
    <v-flex xs12 sm12 pa-1>
      <v-card
        class="mx-auto"
        max-width="93%"
        outlined
      >
        <v-data-table
          must-sort
          :headers="headers"
          :items="this.blogs"
          :server-items-length="this.totalBlogs" 
          :loading="this.loading" 
          :options.sync="pagination"
          class="elevation-1"
        >
          <template v-slot:item.thumnailImageName="{ item }">
            <img :src="item.thumnailImageName" style="width: 120px; height: auto" />
          </template>

          <template v-slot:item.createdDate="{ item }">
            <span>{{ new Date(item.createdDate).toLocaleDateString() }}  {{ new Date(item.createdDate).toLocaleTimeString() }}</span>
          </template>

          <template v-slot:item.updatedDate="{ item }">
            <span>{{ new Date(item.updatedDate).toLocaleDateString() }}  {{ new Date(item.updatedDate).toLocaleTimeString() }}</span>
          </template>
          
         <template v-slot:item.action="{ item }">
          <v-icon medium class="mr-2" @click="OpentEditBlogDialog(item)">
            fas fa-edit
          </v-icon>
          <v-icon medium @click="OpentConfirmDialog(item)">
            fas fa-trash
          </v-icon>
        </template>
        
        </v-data-table>

        
      </v-card>
    </v-flex>

  </v-layout>
    </div>

</template>

<script>

import { mapGetters, mapActions, mapMutations } from "vuex";
import { VueEditor } from "vue2-editor";

export default {
  
  components:{
    VueEditor
  },


  data() {
    return {
      headers: [
        {
          text: "Id",
          value: "id"
        },
        {
          text: "Category",
          value: "categoryName"
        },
        {
          text: "Title",
          value: "title"
        },
        {
          text: "Thumnail",
          value: "thumnailImageName",
          sortable: false,
        },
        {
          text: "Total Comments",
          value: "totalCommnents"
        },
        {
          text: "Created Date",
          value: "createdDate"
        },
        {
          text: "Updated Date",
          value: "updatedDate"
        },
        {
          text: "Actions",
          value: "action"
        }
      ],
      pagination: {
        rowsPerPage: 10,
        sortDesc: [true],
        page: 1,
        sortBy: ["createdDate"]
      },
      dialog: false,
      blogModel:{
        id: 0,
        title: "",
        thumnailImageName: "",
        categoryId: 0,
        content: "",
        file:{}
      },
      valid: true,
      rules:{
        titleRules:[
          value => !!value || 'Title is required',
        ],
        thumnailRules:[
          value => !value || value.size < 2000000 || 'Thumnail image size should be less than 2 MB!',
        ],
        category:[
          value => !!value || 'Category is required'
        ],
        content:[
           value => !!value || 'Content is required'
        ]
      },
      categoryItems:[],
      thumnailFile: [],
      isCreate: true,
      confirmDialog: false,
      itemsPerPage: [5, 10, 15]
    }
  },

  mounted() {
    // this.ShowToolbar();
    this.GetCategories();
  },

  computed:{
    ...mapGetters('blog',[
      'blogs',
      'loading',
      'totalBlogs',
      'isCreated',
      'isDeleted',
      'isEdited'
    ]),

    
    ...mapGetters('category',[
      'categories'
    ])
    
  },

  methods: {
    ...mapActions({
      SearchBlogs: 'blog/SearchBlogs',
      CreateBlog: 'blog/CreateBlog',
      EditBlog: 'blog/EditBlog',
      DeleteBlog: 'blog/DeleteBlog'
    }),
    ...mapActions({
      GetCategories: 'category/GetCategories'
    }),

    ...mapMutations({
      AssignPagination: 'blog/AssignPagination',
      SetBlogPost: 'blog/SetBlogPost',
      SetSelectedBlogId: 'blog/SetSelectedBlogId',
      // ShowToolbar: 'account/ShowToolbar'
    }),
    
    validate () {
      if (this.$refs.form.validate()) {
        this.snackbar = true
      }
    },

    BlogsAfterMakeImageTagForThumnail: function() {

      this.blogs.data.forEach(element => {
        element.thumnailImageName = '<span v-html="<img src="smiley.gif" alt="Smiley face" height="42" width="42">"></span>'
      });

      this.blogsData = this.blogs.data;
    },

     OpentEditBlogDialog: function(blogItem){
      this.isCreate = false;
      this.ResetForm();
      this.GetCategories();
      this.categoryItems = this.categories;

      this.blogModel.thumnailImageName = blogItem.thumnailImageName;
      this.blogModel.id = blogItem.id;
      this.blogModel.categoryId = blogItem.categoryId;
      this.blogModel.content = blogItem.content;
      this.blogModel.title = blogItem.title;

      console.log(this.blogModel.title)

      this.dialog = true;
    },

    SubmitEditBlog: function(){
      if (this.$refs.form.validate()) {
        var payload = {
          id: this.blogModel.id,
          title: this.blogModel.title,
          thumnailImageName: this.thumnailFile.name,
          categoryId: this.blogModel.categoryId,
          content: this.blogModel.content,
          file:this.thumnailFile
        }

        this.SetBlogPost(payload);
        this.EditBlog();
        this.dialog = false;
        
      } 
    },

    OpentConfirmDialog: function (blogItem) {
        this.confirmDialog = true;
        this.SetSelectedBlogId(blogItem.id);
        
    },
    Submit: function(){

      if (this.$refs.form.validate()) {
        let payload = {
          blogPost: this.blogModel,
        }
        payload.blogPost.thumnailImageName = this.thumnailFile.name;
        payload.blogPost.file = this.thumnailFile;

        this.SetBlogPost(this.blogModel);
        this.CreateBlog();
        this.dialog = false;
        
      }

 
    },

    ResetForm(){
      this.blogModel.content = "";
        
      if (this.$refs.form != undefined) {
        this.$refs.form.reset()
        this.$refs.form.resetValidation()
      }
    },

    SubmitDeleteBlog: function(){
      this.DeleteBlog();
      this.confirmDialog = false;
      
    },

    OpenCreateBlogDialog: function(){
      if (!this.isCreate) {
        this.ResetForm();
      }
      
      this.isCreate = true;
      this.GetCategories();
      this.categoryItems = this.categories;
      this.ResetForm();

      

    }
    
  },

  watch: {
      pagination: {
          handler: function (val, oldVal) { 
              this.AssignPagination(this.pagination);
              this.SearchBlogs();
          },
          deep: true
      },

      // dialog: {
      //   handler: function (val, oldVal) { 
      //         if(val == true){
      //           this.GetCategories();
      //           this.categoryItems = this.categories;
      //         }else{
      //           this.ResetForm();
      //         }
      //     },
      //     deep: true
      // }

    },
    



};
</script>