<template>

  <div style="width:100%; margin-top:1%">

    <template>

        <div style="margin-left:3.1%;">
    <v-dialog
      v-model="confirmDialog"
      max-width="350"
    >
      <v-card>
        <v-card-title class="headline">Warning !!!</v-card-title>

        <v-card-text>
          Are you sure want to delete this category?
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
              color="success"
              class="mr-4"
              @click="SubmitDeleteCategory()"
            >
              YES
          </v-btn>

          <v-btn
              color="error"
              class="mr-4"
              @click="confirmDialog = false"
            >
              NO
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialog"
      width="25%"
    >
      <template v-slot:activator="{ on }">
        <v-btn  v-on="on" @click="OpenCreateCategoryDialog()" large color="primary">Create category</v-btn>
      </template>

      <v-card>
        <v-card-title
          class="headline lighten-2"
          primary-title
        >
         <span v-if="this.isCreate">CREATE CATEGORY</span>
         <span v-else >EDIT CATEGORY</span>
        </v-card-title>

        <v-card-text>
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
          >
          <v-text-field
              v-model="categoryModel.id"
              label="id"
              required
              v-show="false"
            ></v-text-field>

            <v-text-field
              v-model="categoryModel.content"
              label="Content"
              :rules="rules.contentRules"
              :counter="30"
              required
            ></v-text-field>
          </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          
          <v-btn v-if="this.isCreate"
              color="success"
              @click="Submit()"
            >
              Create
          </v-btn>

          <v-btn v-else
              color="success"
              @click="SubmitEditCategory()"
            >
              EDIT
          </v-btn>
          
          <v-btn
              color="error"
              class="mr-4"
              @click="dialog = false"
            >
              Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
    </template>

  <v-layout row wrap="">
    <v-flex xs12 sm12 pa-1>
      <v-card
        class="mx-auto"
        max-width="93%"
        outlined
      >
        <v-data-table
          must-sort
          :headers="headers"
          :items="this.searchedCategories"
          :server-items-length="this.totalCategories" 
          :loading="this.loading" 
          :options.sync="pagination"
          class="elevation-1"
        >

        <template v-slot:item.createdDate="{ item }">
            <span>{{ new Date(item.createdDate).toLocaleDateString() }}  {{ new Date(item.createdDate).toLocaleTimeString() }}</span>
          </template>

          <template v-slot:item.updatedDate="{ item }">
            <span>{{ new Date(item.updatedDate).toLocaleDateString() }}  {{ new Date(item.updatedDate).toLocaleTimeString() }}</span>
          </template>

         <template v-slot:item.action="{ item }">
          <v-icon medium class="mr-2" @click="OpentEditCategoryDialog(item, false)">
            fas fa-edit
          </v-icon>
          <v-icon medium @click="OpentConfirmDialog(item)">
            fas fa-trash
          </v-icon>
        </template>
        </v-data-table>

        
      </v-card>
    </v-flex>

  </v-layout>
    </div>

</template>
<script>

import { mapGetters, mapActions, mapMutations } from "vuex";


export default {
  name: 'category',

  data: () => ({
    headers: [
      {
        text: "Id",
        value: "id"
      },
      {
        text: "Content",
        value: "content"
      },
      {
        text: "Total Blogs",
        value: "totalBlogs"
      },
      {
        text: "Created date",
        value: "createdDate"
      },
      {
        text: "Updated Date",
        value: "updatedDate"
      },
      {
        text: "Actions",
        value: "action"
      }
    ],

    pagination: {
        rowsPerPage: 10,
        sortDesc: [true],
        page: 1,
        sortBy: ["createdDate"]
    },
    dialog: false,
    isCreate: true,
    confirmDialog: false,
    valid: true,
    rules:{
        contentRules:[
          value => !!value || 'Content is required',
        ]
    },
    categoryModel:{
        id: 0,
        content: "",
      },
  }),

  mounted() {
    //  this.SearchCategoies();
  },

  computed:{
    ...mapGetters('category',[
      'searchedCategories',
      'totalCategories',
      'loading'
    ]),
  },

  methods: {
    ...mapActions({
      SearchCategoies: 'category/SearchCategoies',
      CreateCategory: 'category/CreateCategory',
      EditCategory: 'category/EditCategory',
      DeleteCatergory: 'category/DeleteCatergory'
    }),

    ...mapMutations({
      AssignPagination: 'category/AssignPagination',
      SetSelectedCategoryId: 'category/SetSelectedCategoryId',
      SetCategoryPost: 'category/SetCategoryPost'
    }),

    OpentEditCategoryDialog: function(categoryItem){
      this.categoryModel.content = categoryItem.content;
      this.categoryModel.id = categoryItem.id;

      this.isCreate = false;
      this.dialog = true;
    },

    OpentConfirmDialog: function(categoryItem){
      this.confirmDialog = true;
      this.SetSelectedCategoryId(categoryItem.id);
    },

    Submit: function(){
      if (this.$refs.form.validate()) {
       
        this.SetCategoryPost(this.categoryModel);
        this.CreateCategory();
        this.dialog = false;
      }
    },

    OpenCreateCategoryDialog: function(){
      this.isCreate = true;
      this.ResetForm();
    },

    SubmitEditCategory: function(){
      if (this.$refs.form.validate()) {

        this.SetCategoryPost(this.categoryModel);
        this.EditCategory();
        this.dialog = false;

        
      } 
    },

    ResetForm(){
      if (this.$refs.form != undefined) {
        this.$refs.form.reset();
        this.$refs.form.resetValidation();
      }
    },

    SubmitDeleteCategory: function(){
      this.DeleteCatergory();
      this.confirmDialog = false;
    }
  },

  watch: {
      pagination: {
          handler: function (val, oldVal) { 
              this.AssignPagination(this.pagination);
              this.SearchCategoies();
          },
          deep: true
      },
    },

};
</script>