<template>
<div style="width:100%; margin-top:1%">
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          
            <v-card class="elevation-12" style="width:20%">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Login</v-toolbar-title>
                <v-spacer />
                
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    v-on:keyup.enter="onEnterLogin"
                    required
                    v-model="username"
                    label="Username"
                    name="username"
                    prepend-icon="person"
                    type="text"
                  />

                  <v-text-field
                    v-on:keyup.enter="onEnterLogin"
                    required
                    v-model="password"
                    id="password"
                    label="Password"
                    name="password"
                    prepend-icon="lock"
                    type="password"
                  />
                </v-form>
                <span v-if="!this.isInvalidUser">Invalid username or password</span>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn color="primary" @click="SubmitLogin()">Login</v-btn>
              </v-card-actions>
            </v-card>

        </v-row>
      </v-container>
</div>
</template>
<script>

import { mapGetters, mapActions, mapMutations } from "vuex";

export default {
  name: 'login',

  data: () => ({
    username : "",
    password : "",
  }),

    computed: {
      ...mapGetters('account',[
        'isAuthenticated',
        'isInvalidUser'
      ]),
    },



   methods: {
    ...mapActions({
      Login: 'account/Login',
    }),

    ...mapMutations({
      SetLoginModel: 'account/SetLoginModel',
    }),

    async SubmitLogin() {
      var payload = {
        username: this.username,
        password: this.password
      };

      this.SetLoginModel(payload);

      await this.Login();

      if(this.isAuthenticated){
        this.$router.push('/blog')
      }
    },

    onEnterLogin() {
      this.SubmitLogin();
    }
   }
};
</script>