﻿
@using BE.Web.Helpers;

@model PaginatedList<BE.Web.Models.BlogModel>

@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentPage = ViewContext.RouteData.Values["page"] == null ? 1 : ViewContext.RouteData.Values["page"];
}
<div style="margin-left:40%;">
    <h4>@ViewData["CurrentCategory"]</h4>
</div>
<div class="container" style="max-width:80%;">
    <div class="row">
        <div class="col-lg-3">
            <aside>
                <!-- Widget [Categories Widget]-->
                <div class="widget categories">
                    <header>
                        <h3 class="h6">Categories</h3>
                    </header>
                    @await Component.InvokeAsync("Category")
                </div>
            </aside>
        </div>
        <div class="col-lg-9">
            <section class="featured-posts no-padding-top">
                <div class="container2">
                    @foreach (var item in Model)
                    {
                        <div class="row d-flex align-items-stretch">
                            <div class="text col-lg-7">
                                <div class="text-inner d-flex align-items-center">
                                    <div class="content">
                                        <header class="post-header">
                                            <div class="category">
                                                <a asp-controller="Category" asp-route-id="@item.Category.Id" asp-route-slug="@SlugGenerator.ToSlug(item.Category.Content)" asp-route-page="1">@item.Category.Content</a>
                                            </div>
                                            <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id" asp-route-slug="@SlugGenerator.ToSlug(item.Title)">
                                                <h2 class="h4">@item.Title</h2>
                                            </a>
                                        </header>

                                        <p>@HtmlRender.Truncate(item.Content, 200)</p>
                                        <footer class="post-footer d-flex align-items-center">
                                            <a href="#" class="author d-flex align-items-center flex-wrap">
                                                @*<div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid"></div>*@
                                                <div class="title"><span>Nhan Ngo</span></div>
                                            </a>
                                            <div class="date"><i class="icon-clock"></i>@item.CreatedDate.Date.ToString("MMM dd yyyy")</div>
                                            <div class="comments"><i class="icon-comment"></i>@item.Commnents.Count()</div>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                            <div class="image col-lg-5"><img src="/images/@item.ThumnailImageName" alt="..."></div>
                        </div>
                    }
                </div>
            </section>

        </div>
    </div>
</div>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<center>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</center>

