﻿
@using BE.Web.Helpers;

@model BE.Web.Models.BlogModel;


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8">
            <div class="container">
                <div class="post-single">
                    <div class="post-details">

                        <h1>@Model.Title<a href="#"></a></h1>
                        <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                            <a href="#" class="author d-flex align-items-center flex-wrap">
                                <div class="title"><strong>Author: </strong>Admin</div>
                            </a>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="date" style="float:right;"><i class="icon-clock"></i> @Model.CreatedDate</div>
                                <div class="comments meta-last"><i class="icon-comment"></i><span class="comment-count">@Model.Commnents.Count()</span></div>
                            </div>
                        </div>
                        <div class="post-body">
                            @Html.Raw(Model.Content)
                        </div>
                        <hr />

                        <div class="post-comments">
                            <header>
                                <h3 class="h6">Post Comments<span class="no-of-comments">(<span class="comment-count">@Model.Commnents.Count()</span>)</span></h3>
                            </header>
                            @if (Model.Commnents.Count() > 0)
                            {
                                foreach (var comment in Model.Commnents)
                                {
                                    <div class="comment">
                                        <div class="comment-header d-flex justify-content-between">
                                            <div class="user d-flex align-items-center">
                                                <div class="title"><strong>Anonymous</strong><span class="date">@comment.CreatedDate</span></div>
                                            </div>
                                        </div>
                                        <div class="comment-body">
                                            <p>@comment.Content</p>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                        <div class="add-comment">
                            <header>
                                <h3 class="h6">Leave a comment </h3>
                            </header>
                            <span style="color:red; display:none;" class="comment-error-message"></span>
                            <form action="#" class="commenting-form">
                                <div class="row">
                                    <input name="BlogId" type="hidden" class="form-control" value="@Model.Id" />
                                    <div class="form-group col-md-12">
                                        <textarea name="Content" id="usercomment" placeholder="Type your comment" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <button type="submit" class="btn btn-secondary btn-comment">Submit Comment</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
    </div>
</div>

@section Scripts{




    <script>



        function RenderHtml(comment) {

            var htmlComment = '<div style="display:none;" class="comment"><div class="comment-header d-flex justify-content-between">'
            htmlComment += ' <div class="user d-flex align-items-center">';
            htmlComment += '  <div class="title"><strong>' + comment.accountName + '</strong > <span class="date">' + comment.comment.createdDate + '</span></div > ';
            htmlComment += ' </div> </div><div class="comment-body"><p>' + comment.comment.content + '</p></div></div>';

            $('.post-comments').append(htmlComment);
            $('.comment').fadeIn('slow');

            IncreaseNumberOfComment();

        }

        function IncreaseNumberOfComment() {
            var currentCommentCount = $('.comment-count').first().text();

            currentCommentCount++;

            $('.comment-count').text(currentCommentCount);
        }

        $('.btn-comment').on('click', function (e) {
            e.preventDefault();

            var data = $('form').serialize();

            $.ajax({
                type: 'POST',
                url: '/Comment/Create',
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                data: data,
                success: function (result) {
                    RenderHtml(result);
                    $('#usercomment').val('');
                },
                error: function (jqXHR) {


                    if (jqXHR.status == 400) {
                        $('.comment-error-message').text('');
                        $('.comment-error-message').text(jqXHR.responseJSON.message);
                        $('.comment-error-message').fadeIn().delay(1000).fadeOut('slow');
                    }

                    if (jqXHR.status == 401) {
                        $('.comment-error-message').text('');
                        $('.comment-error-message').text(jqXHR.responseJSON.message);
                        $('.comment-error-message').fadeIn().delay(1000).fadeOut('slow');
                    }
                }


            });

        });


    </script>


}